<div class="top-row pl-4 navbar navbar-dark"> 
    
    <div class="beer-box-logo">
        <div class="beer">
            <div class="cup">
                <div class="liquid"></div>
                <div class="stripe-1"></div>
                <div class="stripe-2"></div>
                <div class="stripe-3"></div>
            </div>
            <div class="cup-holder"></div>
            <div class="foam">
                <div class="foam-1"></div>
                <div class="foam-2"></div>
                <div class="foam-3"></div>
            </div>
            <div class="bubbles-1"></div>
            <div class="bubbles-2"></div>
            <div class="bubbles-3"></div>
        </div>
    </div>
    <a class="navbar-brand-dark" href="">Tanie Piwo.pl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="beermap">
                <span class="oi oi-map" aria-hidden="true"></span> Piwna Mapa
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
